In [1]:
# 11.1 zoo.py
def hours()
    print("Open 9-5 daily")
    
zoo.hours()

SyntaxError: expected ':' (2595978499.py, line 2)

In [ ]:
import sqlalchemy as sa
import sqlite3
conn = sqlite3.connect("books.db")
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (
    title TEXT,
    author TEXT,
    year INTEGER,
    )
''')

conn = sa.create_engine("sqlite:///books.db")
titles = 'SELECT title from books ORDER BY title asc'
conn.execute(ins, )